*{
    margin : 0;
    padding : 0;
    border : 0;
    box-sizing : border-box;
}

body{
    text-align: center;
    display : flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-left: auto;
    padding-right: auto;


    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
h1{
    font-family: 'Roboto Mono', monospace;
    font-size: 45px;
    color : white;
    
    margin : 1rem;
}

.game{
    display : flex;
    flex-direction: column;
    align-items: center;
}

.normal-container{
    display : none;
    margin : 10px auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
    gap : 2px 2px;
    justify-content: space-evenly;
    flex-flow: row wrap;

    height : 495px;         
    width: 495px;
    border : 5px solid black;
    background-color: black;


}

.hacker-container{
    display : none;
    margin : 10px auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
    gap : 2px 2px;
    justify-content: space-evenly;
    flex-flow: row wrap;

    height : 520px;         
    width: 520px;
    border : 7px solid black;
    background-color: black;
}
.tile{
    background-color: white;
    flex : 1 1 auto;
    width : 21%;
    cursor: pointer;
}
.tile1{
    background-color: white;
    flex : 1 1 auto;
    width : 16%;
    cursor: pointer;
}

.buttons{
    display: flex;
    padding: 4px;
    justify-content: space-between;
}

button {
    flex: 0 1 auto;
    margin-left: 4px;
    margin-bottom: 3px;
    color: #090909;
    padding: 0.7em 0.7rem;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .2s;

   }
   
   button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
                inset -4px -4px 12px #ffffff;
   }

   .dummy{
       box-shadow : 0 8px 8px -4px;
       background-color: black;
   }

   .menu{
        display: flex;
        flex-direction: column; 
        justify-content: center;
       
   }

   .score{
       
        font-size: larger;

   }

   .time{
       margin-left: 5px;
       margin-right: 5px;
       font-size: larger;
   }
   .leaderBoard{
       display: block;
       width : 300px;
       text-align: center;
       
       margin: 1.5rem;
   }

   .leaderBoard > h2{
       font-family: 'Roboto Mono', monospace;
       margin-bottom: 3px;
       border-bottom: 1px solid black;
   }
   .scores{
       display: flex;
       font-size: medium;
       justify-content: space-around;
   }

   @media (max-width: 768px){

       .normal-container{
           width : 300px;
           height : 300px;
       }
       .hacker-container{
           width : 350px;
           height : 350px;
       }
   }
