*{
    margin : 0;
    padding : 0;
    border : 0;
    box-sizing : border-box;
}

body{
    display : flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
h1{
    font-family: 'Roboto Mono', monospace;
    font-size: 45px;
    color : white;
    text-align: center;
    margin-top : 1.5rem;
}

.container{
    display : flex;
    gap : 1px 1px;
    justify-content: space-evenly;
    flex-flow: row wrap;
    height : 72vh;
    min-width: 75%;
    border : 7px solid white;
    background-color: white;
    margin : 1.5rem auto;
}

.tile{
    background-color: #46089d;
    flex : 1 0 auto;
    width : 20%;
    cursor: pointer;
}

.tile:hover{
    background-color: #620ed7;
}